

/* Global styles 
-----------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
img {
    width: 300px;
}
a {
    color: #F7B733;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 75px;
    line-height: 1.5;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    
}
h2 {
    font-size: 35px;
}
h1, h2 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    margin: 0;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}


/* Profile 
-----------------------------------------*/
header {
    background-color: #343434;
    color: #F7FFF7;
}

/* Projects
-----------------------------------------*/
.projects {
    background: #d4d4dc;
}
.projects .a {
    color: #393F4D;
}
.projects .btn {
    color: #1d1e22;
    background: #F7B733;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background: rgba(47,48,97,80%);
}
.project-item {
    overflow: hidden;
    border-bottom: 1px solid black;
    padding: 25px 0;
}
.project-item img{
    float: right;
    margin-left: 20px;
}
.project-item h3 {
    margin-top: 0;
}

/* Work Experience
-----------------------------------------*/
.work-experience {
    background: #F7B733;
}

/* Education
-----------------------------------------*/
.education {
background: #d4d4dc;
}

/* Contact Info
-----------------------------------------*/
footer {
    background: #343434;
    color: #F7FFF7;
}